@{
    ViewBag.Title = "Reject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<html>

<head>

    <link href="~/Css/RequestStatus.css" rel="stylesheet" />
</head>
<body>

    <div class="main">
        <div>
            <h2>Request is Rejected</h2>
        </div>
        <div>
            @Html.ActionLink("Back", "ViewBloodRequest")
        </div>
    </div>
</body>


</html>