body {
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    background-image: url(../Images/blood.jpg);
}

form {
    margin: 0 auto;
    width: 100%;
}

.main {
    width: 50%;
    margin: 0 auto;
    padding: 4em 2em;
    background: rgba(255, 255, 255, 0.07);
    -webkit-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
    -moz-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
    box-shadow: 0 6px 43px 0 rgba(0, 0, 0, 0.4);
}

.form-horizontal h2 {
    color: darkred;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5em;
    letter-spacing: 3px;
    text-shadow: 3px 3px 4px #000;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}
